<div class="container">
  <header>
    <!-- <h1>ブログ一覧</h1> -->
    <nav>
  <ul class="top_menu clearfix">
    <li><a href="#">ホーム</a></li>
    <li><a href="#">新規投稿</a></li>
    <li><a href="#">設定</a></li>
    <li><a href="#">お問い合わせ</a></li>
  </ul>
</nav>
  </header>
  <%= image_tag 'mig.jpeg', class:'image_area' %>




  <div class="menu">
    <p><%= notice %></p>

    <table>
      <tr>
        <th>ブログの投稿一覧です！！</th>
      </tr>

    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.content %></td>

        <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
        <td><%= link_to 'ブログを編集する', edit_blog_path(blog.id) %></td>
        <td><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete %></td>

      </tr>
    <% end %>
    </table>
    <%= link_to 'ブログの新規作成', new_blog_path %>
  </div>

  <footer class="footer">
    <p>Copyright © 2019 YUJI SUGAYA TWITTER CLONE.</p>
  </footer>
</div>
